body {
  background-color: #BC8174;
  font-family: 'Parisienne', cursive;
  color: white;
}

p, 
input, 
button {
  font-family: 'Oswald', sans-serif;
}

.jumbotron {
  background-image: url("https://media1.tenor.com/images/c8fc794a2b94494e0e654cc939c7dd09/tenor.gif?itemid=13986847");
  background-size: cover;
  display: flex;
  justify-content: center;
}

.jumbotron-body {
  background-color: #bc8174;
  opacity: .9;
  padding: 2%;
  border-radius: 1em;
  width: 85%;
}

#jumbotron-btn,
#form-btn {
  background-color: #3A1F0F;
  border: none;
}

#staticStudent {
  color: white;
}

#studentInputContainer {
  width: 4%;
}

#whole-form {
  display: flex;
  justify-content: space-between;
}

#student-cards {
  display: flex;
  flex-flow: row wrap;
}

.card {
  background-color: #3A1F0F;
  color: white;
  opacity: .9;
  margin: 2%;
  width: 20%;
}

.card-body {
  display: flex;
  align-self: center;
  flex-direction: column;
  text-align: center;
}

.card a {
  background-color: white;
  color: #3A1F0F;
}

.card a:hover {
  background-color: #bc8174;
  color: white;
  border: #3A1F0F;
}

/* SMALL PHONES */
@media only screen and (max-width: 600px) {
  .text-large {
    font-size: 10vw;
  }

  .text-medium {
    font-size: 5vw;
  }

  .text-small {
    font-size: 4.5vw;
  }

  .jumbotron {
    padding: 3%;
  }

  .jumbotron-body {
    margin: .5%;
    width: 100%;
  }

  #jumbotron-btn {
    font-size: 5vw;
  }
}
